{% assign language = page.lang %}
{% assign articles = site[language] %}

<div>
  {% assign grouped_articles = articles | group_by: "topic_slug" %}

  {% for topic in grouped_articles %}
    {% if topic.name %}
      {% assign topic_title = site.data.topics[topic.name][language] %}
      
      <div>
        
        {% assign intro = topic.items " | where: "layout", "landing" | first %}
        <strong><a href="{{ intro.url | relative_url }}">{{ topic_title }}</a></strong>
        <ol>
          {% assign articles = topic.items " | where: "layout", "post" | sort: "order" %}
          {% for article in articles %}
            <li><a href="{{ article.url | relative_url }}">{{ article.title }}</a></li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
  {% endfor %}
</div>
