{% assign current_topic = page.topic_slug %}
{% if current_topic %}
  {% assign articles = site[page.lang] | where: "topic_slug", current_topic | sort: "order" %}

  <nav class="topic-pagination">
    <hr>
    <div class="topic-pagination-wrapper">
      
      {% for article in articles %}
        {% if article.url == page.url %}
          
          <div class="prev">
            {% if forloop.first %}
              <span>&laquo; Start of Book</span>
            {% else %}
              {% assign prev_index = forloop.index0 | minus: 1 %}
              {% assign prev_page = articles[prev_index] %}
              <a href="{{ prev_page.url | relative_url }}">&laquo; {{ prev_page.title }}</a>
            {% endif %}
          </div>

          <div class="next">
            {% if forloop.last %}
              <span>{{ site.data.i18n.topic_end[page.lang] }} &raquo;</span>
            {% else %}
              {% assign next_index = forloop.index0 | plus: 1 %}
              {% assign next_page = articles[next_index] %}
              <a href="{{ next_page.url | relative_url }}">{{ next_page.title }} &raquo;</a>
            {% endif %}
          </div>

        {% endif %}
      {% endfor %}
      
    </div>
  </nav>
{% endif %}